<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Bill | Bills</title>
    <link rel="stylesheet" href="style.css">
    <script src="js/bills.js" defer></script>
</head>
<body>
    <a class="submit-button header-button" href="groups.html">Back to groups</a>
    <button class="submit-button header-button logout-button" id="logout-button" >Logout</button>
    <header>
        <div class="logo-wrapper">
            <img src="img/logo.png" alt="page-logo" class="logo">
        </div>
        <h1 class="page-title">Split Bill</h1>
    </header>
    <main>
        <h1 class="bills-title">Group's bills:</h1>
        <table class="bills-table">
            <tr>
                <th>ID</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
        </table>
        <div class="form-wrapper">
            <h2>Add bill</h2>
            <form action="" id="bill-form">
                <label>Amount:</label>
                <input type="number" id="amount-input">
                <label>Description:</label>
                <input type="text" id="description-input">
                <div>
                    <button class="submit-button">Add</button>
                    <span class="red-text" id="error-text"></span>
                    <span class="green-text" id="success-text"></span>
                </div>
            </form>
        </div>
    </main>
</body>
</html>