<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Bill | Groups</title>
    <link rel="stylesheet" href="style.css">
    <script src="js/groups.js" defer></script>
</head>
<body>
    <button class="submit-button header-button logout-button" id="logout-button" >Logout</button>
    <header>
        <div class="logo-wrapper">
            <img src="img/logo.png" alt="page-logo" class="logo">
        </div>
        <h1 class="page-title">Split Bill</h1>
    </header>
    <main>
        <h1 class="groups-title">Select Your Group</h1>
        <section class="groups-wrapper">
        </section>
        <div class="form-wrapper">
            <h2>Add group</h2>
            <form action="" id="group-form">
                <label>Group ID:</label>
                <input type="text" id="group-id-input">
                <div>
                    <button class="submit-button">Add</button>
                    <span class="red-text" id="error-text"></span>
                    <span class="green-text" id="success-text"></span>
                </div>
            </form>
        </div>
    </main>
</body>
</html>