<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Bill | Register</title>
    <link rel="stylesheet" href="style.css">
    <script src="js/register.js" defer></script>
</head>
<body>
    <header>
        <div class="logo-wrapper"><img src="img/logo.png" alt="page-logo" class="logo"></div>
        <h1 class="page-title">Split Bill</h1>
        <h2 class="page-subtitle">BEST IN MARKET</h2>
    </header>
    <main>
        <div class="form-wrapper">
            <h1>Register</h1>
            <form action="" id="register-form">
                <label for="">Full Name</label>
                <input type="text" id="full-name-input">
                <label for="">Email</label>
                <input type="email" id="email-input">
                <label for="">Password</label>
                <input type="password" id="password-input">
                <label for="">Repeat password</label>
                <input type="password" id="password-repeat-input">
                <div>
                    <button class="submit-button">Register</button>
                    <span class="red-text" id="error-text"></span>
                    <span class="green-text" id="success-text"></span>
                </div>
            </form>
            <div>Or perhaps, just <a href="login.html">login</a>?</div>
        </div>
        </main>
</body>
</html>